@using ApplicationCore.Models.Response
@model List<MovieCardResponseModel>
@{
    ViewData["Title"] = "Cast Page";
}

<div class="rounded">
    <div class="container-fluid bg-light">

        

    </div>
</div>